@model Projeto_Controle_de_Computadores.Models.Grupo

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Grupo</title>
</head>
<body>
    <h1>Cadastrar Grupo</h1>
    <form method="post">
        <div>
            <label for="Nome">Nome do Grupo:</label>
            <input type="text" id="Nome" name="Nome" required />
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
